:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 350px;
}

.login-card {
  max-width: 400px;

  mat-card-title {
    font-size: 24px;
    font-weight: 500;
    margin: 25px 0px 10px 0px;
    display: flex;
    justify-content: center;
    color: #ff4081;
  }

  mat-card-content {
    display: flex;
    justify-content: center;
  }
}

.button {
  cursor: pointer !important;
  display: flex;
  justify-content: flex-end;
}
